
p {
	text-align:justify;
	margin: 0;
}
p strong {
	color:#f2a530;
}
@font-face {
   font-family: 'Greta-r';
   src: url('Greta-r.ttf');
   
}
@font-face {
   font-family: 'Jazeera-r';
   src: url('Jazeera-r.ttf');
   
}
body{
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
    direction: rtl;
    font-family: 'Greta-r';
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 0 !important;
    overflow-x: visible;
    padding: 0 20px;
    text-align: right;
}
.continers {
    overflow: auto;
    padding: 5%;
    position: relative;
    width: 90%;
}
span.style1 {
    color: #f2a530;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
	font-family: 'Jazeera-r';
}
.rteleft {
    margin: 15px 0;
    text-align: left;
}
.div111 {
    border: 2px solid #f2a530;
    height: 104px;
    margin: 10px 1%;
    padding: 7px 4%;
    width: 90%;
}

.div222 {
    border: 2px solid #f2a530;
    margin: 10px 1%;
    padding: 7px 4%;
    width: 90%;
}
.div333 {
    border: 2px solid #f2a530;
    margin: 10px 1%;
    padding: 7px 4%;
    width: 90%;
}
.div666 {
    background: #eeeeee none repeat scroll 0 0;
    padding: 10px 12px;
}

.titlediv45 p {
    background: #5c4b43 none repeat scroll 0 0;
    padding: 2px;
    text-align: center;
}
.div444 {
    border: 2px solid #f2a530;
    margin: 10px 1%;
    padding: 7px 4%;
    width: 90%;
}
.div555 {
    border: 2px solid #f2a530;
    margin: 10px 1%;
    padding: 7px 4%;
    width: 90%;
}
/*******************************************/
.box1 {
    background: #f99e30 none repeat scroll 0 0;
    color: white;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
.box2 {
    background: #5c4b43 none repeat scroll 0 0;
    color: white;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
.box3 {
    background: #f99e30 none repeat scroll 0 0;
    color: white;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
.box4 {
    background: #5c4b43 none repeat scroll 0 0;
    color: white;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
.box5 {
    background: #f99e30 none repeat scroll 0 0;
    color: white;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
.box6 {
    background: #e2dad7 none repeat scroll 0 0;
    color: black;
    margin: 10px 1% 10px;
    padding: 1% 2%;
    text-align: right;
    width: 96%;
}
/*****************************************/
.location1 {
    background: transparent url("saudi.jpg") no-repeat scroll 0 0 / 100% 100%;
    margin: 10px 0;
    width: 100%;
}
.location2 {
    background: transparent url("Jord1.jpg") no-repeat scroll 0 0 / 100% 100%;
    width: 100%;
	 margin: 0 0 20px 0;
}
.location1 ul,
.location2 ul{
    background: #594b42 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    opacity: 0.9;
    padding: 16px 2%;
    width: 96%;
}
.contact_us ul li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    list-style: inside none none;
    padding: 5px 17px 5px 0;
}
p.tel {
    background: rgba(0, 0, 0, 0) url("2.png") no-repeat scroll 100% 4px / 19px auto;
   margin: 7px 20px 0;
    padding: 5px 40px 5px 0;
    text-align: justify;
}
p.fax {
    background: rgba(0, 0, 0, 0) url("fax-.png") no-repeat scroll 100% 4px / 19px auto;
    margin: 7px 20px 0;
    padding: 5px 40px 5px 0;
    text-align: justify;
}

p.mobile {
    background: rgba(0, 0, 0, 0) url("icon_52143.png") no-repeat scroll 100% 4px / 23px auto;
    margin: 7px 20px 0;
    padding: 5px 40px 5px 0;
    text-align: justify;
}

p.e-mail {
    background: rgba(0, 0, 0, 0) url("email1.png") no-repeat scroll 100% 8px / 19px auto;
    margin: 7px 20px 0;
    padding: 5px 40px 5px 0;
    text-align: justify;
}
img{width:100%;height:auto;margin-bottom:10px;}


.social{
    background: #5c4b43 none repeat scroll 0 0;
    display: inline-block;
    width: 100%;	
	
}
.social ul{
	padding: 0;
	
}
.social li{
    float: right;
    list-style: outside none none;
    margin: 0 2%;
    width: 29%;
	
}
.social a{
	
	
}
.social img{
	
	
}











